.metadata
ClassLoaders/.classpath
        ClassLoaders/.project
        ClassLoaders/.settings/org.eclipse.core.resources.prefs
        ClassLoaders/.settings/org.eclipse.jdt.core.prefs
        ClassLoaders/bin/fr/imtld/ilog/Main.class
